.doctorSection {
    height: 100vh;
    background-color: beige;
}

.doctorSection > div {
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.doctorSectionSlide {
    background-color: violet;
    height: 30%;
    margin-top: 300px;
}