.hospitalSection {
    height: 100vh;
    background-color: rgb(209, 189, 199);
}

.hospitalSection > div {
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.hospitalSectionSlide {
    background-color: violet;
    height: 30%;
    margin-top: 300px;
}